In [8]:
#1.pattern questions

'''
*
**
***
****
*****

'''

def right_angle(num):  
    for i in range(1,num+1):
        print('*'*i)
right_angle(5)

*
**
***
****
*****

In [12]:
#2. 
'''
*****
****
***
**
*

'''

def inverted_rightangle(n):
    for i in range(n,0,-1):
        print('*'*i)

inverted_rightangle(5)

*****
****
***
**
*

In [32]:
# 3. 
'''
1
12
123
1234
12345

'''

def number_right(number):
    for i in range(1,number+1):
        for j in range(1,i+1):
            print(j,end=" ")
        print()

number_right(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [16]:
#4. 

'''
*****
*****
*****
*****
*****

'''

def square(num):
    for i in range(num):  #how many row it form 5 
        print('*'*num)
square(5)

*****
*****
*****
*****
*****

In [34]:
#5 .

'''
1
2 3
4 5 6
7 8 9 10

'''

def increasing_right(n):
    count=1
    for i in range(1,n+1):
        for j in range(i):
            print(count,end=" ")
            count+=1
        print()
increasing_right(4)

1
2 3
4 5 6
7 8 9 10

In [42]:
#6. 
'''
12345
1234
123
12
1

'''
def inverted_numbers(num):
    for i in range(num,0,-1):
        for j in range(1,i+1):
            print(j,end=" ")
        print()
        
inverted_numbers(5)

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [43]:
# 7. 

'''
*   *
 * * 
  *  
 * * 
*   *


'''
def zig_zag(n):
    for i in range(n): # 5 rows
        for j in range(n): # only 4 columns
            if i==j or i+j==n-1:
                print("*",end=" ")
            else:
                print(" " ,end=" ")
        print()
zig_zag(5)

*       *
  *   *
    *
  *   *
*       *

In [48]:
#8 .

'''
    *
   ***
  *****
 *******
*********

'''

def pyramid(n):
    for i in range(1,n+1):
        spaces=n-i
        stars=2*i-1
        print(" "*spaces+'*'*stars)

pyramid(5)

    *
   ***
  *****
 *******
*********

In [49]:
# 9.Inverted Pyramid

'''
*********
 *******
  *****
   ***
    *

'''

def inverted(n):
    for i in range(n):
        spaces=i
        stars=2*(n-i)-1
        print(' '*spaces+ '*'*stars)
inverted(5)

*********
 *******
  *****
   ***
    *

In [50]:
# 10. Diamond
'''
    *
   ***
  *****
   ***
    *
'''

def diamond(n):
    # Upper pyramid (1 to n)
    for i in range(1, n + 1):
        spaces = n - i
        stars = 2 * i - 1
        print(" " * spaces + "*" * stars)

    # Lower inverted pyramid (n-1 to 1)
    for i in range(n - 1, 0, -1):
        spaces = n - i
        stars = 2 * i - 1
        print(" " * spaces + "*" * stars)

diamond(3)

  *
 ***
*****
 ***
  *

In [52]:
# 11. Right- Aligned Triangle

'''
    *
   **
  ***
 ****
*****
'''

def right_aligned(n):
    for i in range(1, n + 1):
        spaces = n - i
        stars = i
        print(" " * spaces + "*" * stars)

right_aligned(5)

    *
   **
  ***
 ****
*****

In [53]:
# 12. Pascal's Triangle

'''
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1
'''
def pascals_triangle(n):
    for i in range(n):
        # Print spaces for alignment
        print(" " * (n - i - 1), end="")

        num = 1  # First value in each row is always 1
        for j in range(i + 1):
            print(num, end=" ")

            # Update value using nCr logic
            num = num * (i - j) // (j + 1)

        print()  # Move to the next line

pascals_triangle(5)

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1